  *{
    box-sizing:revert;
  }
  body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  img{
    width:20%;
    position:absolute;
    top: 0;
    left: 0;
  }
  .buttons{
    position: relative;
    display:inline-block;
    height: 100%;
    border: 1px solid transparent;
    background-color: rgba(2,14,39,.2);
    font-size:25px;
    font-weight: bolder;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(#fff, 0);
    backdrop-filter: blur(16px);
    transition: all .2s ease-in-out;
    z-index: 2;
  }
  .buttons:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #fff;
    color:#000;
    border-radius:5px;
  }
  input{
    padding: 5px;
    width: 292px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    font-size: 20px;
    font-weight: bolder;
}
  .sec-cal{
    width:300px;
    line-height:3;
    margin:15% auto;
  }
  .button-container{
    border-radius:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  @media (max-width:576px) {
    .buttons{
      font-size:15px;
      width:25%;
    }
}